@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
    background: rgb(239, 238, 238);
    position: relative;
    display: flex;
}

#manu{
    background: black;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
#manu .logo{
    display: flex;
    align-items: center;
    color: aliceblue;
    padding: 30px 0 0 30px;
}
#manu .logo img{
    width: 40px;
    margin-right: 15px;
}
#manu .items{
    margin-top: 40px;
}
#manu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.5s ease;
}
#manu .items li:hover{
    background: rgba(176, 30, 30, 0.852);
    cursor: pointer;
}
#manu .items li:nth-child(1){
    border-left: 4px solid #fff;
}
#manu .items li i{
    color: rgb(138, 138, 138);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}
#manu .items li:hover i,
#manu .items li:hover a{
    color: #fbf7f7;
}

#manu .items li a {
    text-decoration: none;
    color: rgb(138, 138, 138);
    font-weight: 300px;
    transition: 0.5s ease;
}
#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid rgba(176, 30, 30, 0.852);
    position: fixed;
    width: calc(100% - 300px);
}
#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #79797c;
    border-radius: 4px;
}
#interface .navigation .search i{
    margin-right: 12px;
}
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 13px;
}
#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#manu-btn{
    color: rgba(176, 30, 30, 0.852);
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.i-name{
    color: rgb(78, 76, 76);
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 70px;
}
.values{
    padding: 30px 300px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.values .val-box{
    background: #cac5c5;
    width: 235px;
    padding: 16px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box i{
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgba(176, 30, 30, 0.852);
    margin-right: 15px;
}
.values .val-box h3{
    font-size: 16px;
    font-weight: 500;
}
.values .val-box span{
    font-size: 14px;
    font-weight: 500;
    color: #323334;
}
.board{
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #dfdede;
    border-radius: 8px;
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.board h5{
    font-weight: 600;
    font-size: 15px;
}
.board p{
    font-weight: 400;
    font-size: 14px;
    color: rgb(75, 74, 74);
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: #eef0f3;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: start;
    padding: 15px;
    background: #b7b7b7;
}
tbody tr td{
    padding: 10px 15px;
}
.active p{
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    background: #06590d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.edit a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 47, 97);
}